@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=DM+Serif+Display:ital@0;1&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root{
    --cor1: #D9B9A7;
    --cor2: #A69580;
    --cor3: #A68263;
    --cor4: #735236;
    --cor5: #402F21;
    --fonte-quicksand:'Quicksand', sans-serif;
    --fonte-dm: 'DM Serif Display', serif;
    --fonte-fjalla: 'Fjalla One', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family:var(--fonte-quicksand);

}

header{
    height: 80px;
    background-color: var(--cor3);
}
header > h1 {
    text-align: center;
    font-family: var(--fonte-dm);
    font-size: 4em;
}

nav {
    background-color: var(--cor3);
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.158);
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    padding: 30px;
}

nav > a:hover{
    background-color: var(--cor5);
    color: var(--cor1);
    padding: 7px;
    transition-duration: 0.7s;
}

main {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    background-color: var(--cor2);
    padding: 5px 20px 20px 20px;
    line-height: 1.5em;
}

#title{ 
    font-family: var(--fonte-dm);
    font-size: 3em;
    padding: 10px;
    margin: 10px;
}

main h2 {
    padding: 20px;
    font-family: var(--fonte-dm);
    font-size: 2em;
}

main ul {
    list-style-position: inside;
}

main img {
    display: block;
    margin: auto;
}

main > aside{
    background-color: #402F21;
    color: antiquewhite;
    padding: 5px;
    margin: 10px;
}